<!DOCTYPE html>
<html>
  <body>
    <div class="card-header text-center">
      <h1>Pulse In CRM</h1>
      <%= link_to "アカウント登録",new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
