<% provide(:title,  "DashBoard") %>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card pt-5 pb-5">
          <%= link_to "メール返信", new_users_inquiry_reply_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card pt-5 pb-5">
          <%= link_to "メンバー管理", users_users_path, class: "btn btn-lg byn-block mt-5 mb-5", style: 'font-size:40px;' %>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
