<% provide(:title, "メール通知設定") %>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <%= link_to "編集", edit_users_company_path, class:"btn btn-default" %>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title"><%= @company.name %></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <strong><%= Company.human_attribute_name(:email) %></strong>
            <p class="text-muted">
              <%= @company.email %>
            </p>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
