<% provide(:title, "サンクスページ編集") %>
<% provide(:btn_text, "編集") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @thank, url: users_thank_path, method: :patch, local: true do |f| %>
      <%= render partial: "form", locals: { f: f, thank: @thank } %>
    <% end %>
  </div>
</div>