<% provide(:title, "プライバシーポリシー") %>

<div class="container">
    <div class="container-header">
        <h1>プライバシーポリシー</h1>
    </div>
    <div class="container-body">
        <div class="row">
            <div class="col-lg-12">
                <%= simple_format(@privacy_policy.content) %>
            </div>
        </div>
    </div>
</div>