<div class="card">
  <%= inquiry_form_item.fields_for :inquiry_input_contents do |inquiry_input_content| %>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-11">
          <%= inquiry_input_content.text_field :content, class: "form-control", placeholder: InquiryInputContent.human_attribute_name(:content) %>
        </div>
        <div class="col-sm-1">
          <%= link_to("#") do %>
            <i class="ion ion-trash-a"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="card-footer">
    <%= link_to("#") do %>
      <i class="ion ion-plus-circled"></i>
    <% end %>
  </div>
</div>