<div class="row">
  <div class="col-sm-6">
    <%= inquiry_form_item.text_field :name, class: "form-control", placeholder: InquiryFormItem.human_attribute_name(:name) %>
  </div>
  <div class="col-sm-4">
    <%= inquiry_form_item.select :form_type, InquiryFormItem.types.keys.to_a, { prompt: true }, { class: "form-control" } %>
  </div>
  <div class="col-sm-2">
    <%= inquiry_form_item.number_field :order, class: "form-control", placeholder: InquiryFormItem.human_attribute_name(:order) %>
  </div>
</div>