<div class="col-lg-3 col-6">
  <div class="small-box bg-info">
    <div class="inner">
      <h3>150</h3>
      <p>New Inquiry</p>
        <%= link_to(users_inquiry_form_index_path) do %>
          <div class="icon">
            <i class="ion ion-plus-round"></i>
          </div>
        <% end %>
    </div>
  </div>
</div>