<div class="container">
    <div class="container-header">
        <h1>マークダウン記法</h1>
        <h4>※数字・記号はすべて半角</h4>
    </div>
    <div class="container-body">
        <div class="row">
            <div class="col-lg-12">
                <Hr>

                <h2>テキストの修飾</h2>
                <h5>①見出し</h5>
                <p>文字に「#（ハッシュタグ）」を付けると大きいサイズの文字になります。　#文字#</p>
                <h1>文字</h1>
                <p>文字に「##」を付けると中サイズの文字になります。　##文字##</p>
                <h2>文字</h2>
                <p>文字に「###」を付けると小さいサイズの文字になります。　###文字###</p>
                <h3>文字</h3>
                
                <h5>②強調・強勢</h5>
                <p>文字を「*（アスタリスク）」で囲むとイタリック体の文字になります。　*文字*</p>
                <i>文字</i>
                <p>文字を「**」で囲むと太字になります。　**文字**</p>
                <b>文字</b>

                <h5>③打ち消し線</h5>
                <p>文字を「~~（チルダ）」で囲むと文字に横線が入ります。　~~文字~~</p>
                <del>文字</del>

                <h5>④下線</h5>
                <p>文字を「_（アンダーバー）」で囲むと文字に下線が入ります。　_文字_</p>
                <u>文字</u>

                <Hr>

                <h2>リスト</h2>
                
                <h5>①順序なしリスト</h5>
                <p>文頭に「-（ハイフン）」＋「 （半角スペース）」を付けると「・（中点）」を先頭とするリストになります。</p>
                <p>_ 文字列</p>
                <p>_ 文字列</p>
                <ul>
                    <li>
                        文字列
                    </li>
                    <li>
                        文字列
                    </li>
                </ul>

                <h5>②番号付きリスト</h5>
                <p>文頭に「1（数字）」＋「.（ピリオド）」＋「 （半角スペース）」を付けると「昇順の数字」を先頭とするリストになります。</p>
                <p>1. 文字列</p>
                <p>1. 文字列</p>
                <ol>
                    <li>
                        文字列
                    </li>
                    <li>
                        文字列
                    </li>
                </ol>

                <Hr>

                <h2>インデント（字下げ）</h2>

                <h5>①インデント</h5>
                <p>文頭に「 （半角スペース）」を「１個」付けると１段字下げされます。</p>
                <p>文頭に「 （半角スペース）」を「５個」付けると１段字下げされます。</p>
                <p>文頭に「 （半角スペース）」を「９個」付けると１段字下げされます。</p>
                <p>文字列</p>
                <p>　文字列</p>
                <p>　　文字列</p>
                <p>　文字列</p>
                <p>　　文字列</p>
                <p>　　　文字列</p>

                <Hr>

                <h2>水平線</h2>

                <h5>①水平線</h5>
                <p>「*」を３個並べると水平線を引く事が出来ます。</p>
                <p>***</p>
                <Hr>
                
            </div>
        </div>
    </div>
</div>