<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>テスト様</h1>
    <p>下記お問い合わせについて回答いたします。</p>
    <p>・お問い合わせ回答内容</p>
    <p><%= @inquiry_reply.content %></p>
  </body>
</html>